body{
    display: flex;
    justify-content: space-evenly   ;
    align-items: center;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    /* */
}

.box {
            width: 200px;
            height: 200px;
            background-color: lightblue;
            border: 2px solid black;
            text-align: center;
            line-height: 100px;
            margin: 10px;
            padding: 10px; 
        }
        #box1{

        }